.menu-bar {
    position: sticky;
    top: 0;
    backdrop-filter: blur(70px);
    height: 100vh;
    
    .scroll-aside {
        padding: var(--p-20);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--g-15);
        overflow-y: scroll;
        height: calc(100vh - 50px);
    }
    
    .container {
        width: 100%;
        display: grid;
        gap: var(--g-15);

        h3 { 
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
            color: var(--fg-cl2);
        }

        .separate {
            display: grid;
            gap: calc(var(--g-5) - 2px);
        }

        li {
            color: var(--fg-cl1);
            display: flex;
            align-items: center;
            gap: var(--g-10);
            cursor: pointer;
            padding: 8px 0;
            padding-left: var(--p-10);
            font-size: 14px;

            a {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: inherit;
                font-size: inherit;
                max-width: 75%;
            }
            
            &:hover { opacity: 0.5; }
        }
        
        .active { 
            background-color: var(--br-cl2);
            border-radius: var(--r-8);
        }
    }
}

/*********************************************************/
/*********************************************************/

.menu-bar-left {
    min-width: 300px;
    max-width: 3000px;
}

.menu-bar-right {
    min-width: 270px;
    max-width: 270px;
}

.menu-bar-left, .menu-bar-right { 
    border-left: 2px solid var(--bg-cl1);
    border-right: 2px solid var(--bg-cl1);
}

.menu-bar-right, .menu-bar-left {
    .scroll-aside { scrollbar-width: none; }
}


/*********************************************************/
/*********************************************************/

.scroll-main {
    display: flex;
    flex-direction: column;
    gap: var(--g-25);
    backdrop-filter: blur(70px);
    padding: 40px;

    .search-input {
        background-color: var(--bg-cl1);
        padding: var(--p-8) var(--p-15);
        border: 1px solid var(--br-cl2);
        border-radius: var(--r-8);
    }

    .container-content {
        display: grid;
        width: 100%;
        gap: calc(var(--g-20) * 3);
        
        .banner-top {
            width: 100%;
            display: grid;
            gap: var(--g-25);

            h6 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: var(--p-15);
                border-bottom: 1px solid var(--br-cl3);

                span {
                    color: var(--fg-cl2);
                    font-size: 13px;
                    font-weight: 500;
                }
            }
            
            h1 {
                display: grid;
                gap: var(--g-10);
                font-size: 22px;
                color: var(--fg-cl1);
            }

            h5 { 
                color: var(--fg-cl1); 
                border-radius: var(--r-10);
                line-height: 1.7;
            }

            .cont-tags {
                display: flex;
                align-items: center;
                gap: var(--g-10);

                span {
                    font-size: 13px;
                    text-align: center; 
                    white-space: nowrap;
                    border-radius: var(--r-6);
                    color: var(--fg-cl1);
                    background-color: var(--bg-cl2);
                    outline: 1px solid var(--br-cl2);
                    padding: var(--p-5) var(--p-10) calc(var(--p-5) + 1px) var(--p-10);
                }
            }
            
            p { 
                color: var(--fg-cl2); 
                font-size: clamp(14px, 2vw, 15px);
                span { 
                    font-weight: 600; 
                    font-style: italic; 
                    color: var(--fg-cl1); 
                }
            }
        }
    }

    .container {
        width: 100%;
        display: grid; 
        gap: var(--g-20);
        scroll-margin-top: 30px;
    }
}

/*********************************************************/
/*********************************************************/

@media (max-width: 1510px) {
    .menu-bar-left { border-left: none; }
}

@media (max-width: 1350px) {
    .menu-bar-right { display: none; }
}

@media (max-width: 1000px) {
    .menu-bar-left {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 100;
        transform: translateX(-200%);
    }

    .scroll-main { padding: 20px; }
}